PK_DEPLOYER= # Deployer's Private Key
OVERRIDE_DEPLOYER_ADDRESS= # Public address of donation receiver for a deploy
OVERRIDE_ASSETS_ARRAY=0x51aB8638e938384b07e1d6aEe153890fc3bBA3A1,0x51aB8638e938384b07e1d6aEe153890fc3bBA3A1 # Array of assets to charge stablecoin fee during relay like: ["0xAs3...","0xBv2"]
OVERRIDE_STABLECOIN_FEE= # parsed amount (meaning that if stablecoin has 6 decimals - this amount should be in it) of stablecoin to receive for relaying
OVERRIDE_NATIVE_FEE= # parsed amount (meaning that if stablecoin has 18 decimals - this amount should be in it) of native token to receive for relaying